[submodule "LibSerialize"]
	path = LibSerialize
	url = git@github.com:rossnichols/LibSerialize.git
[submodule "LibDeflate"]
	path = LibDeflate
	url = git@github.com:SafeteeWoW/LibDeflate.git
[submodule "ScrollingTable"]
	path = libs/lib-st
	url = git@github.com:ddumont/lib-st.git
